body, html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background: url(../../img/background2.png) repeat-x #0c739f;
  background-position: 0px -37px;
  font: 12px Tahoma, sans-serif;
  color: #128aa7;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  margin: 10px 0 20px;
  font-size: 28px;
}

h2 {
  margin: 5px 0 10px;
  font-size: 20px;
}

h3 {
  color:#424242;
  font-size: 16px;
}

p {
  margin: 10px 0;
  line-height: 18px;
  color:#424242;
}

.bold {
  font-weight: 600;
}

.container {
  max-width: 950px;
  width: auto;
  margin: 0 auto;
  -webkit-box-shadow: 1px -2px 13px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -2px 13px 3px rgba(0,0,0,0.75);
  box-shadow: 1px -2px 13px 3px rgba(0,0,0,0.75);
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.emply{
  height: 35px;
}
